/*
Theme Name: Casually
Theme URI: http://pure-essence.net/2013/04/18/child-theme-for-twenty-twelve-casually
Author: Ying Zhang
Author URI: http://regretless.com/
Description: Casually builds off of Twenty Twelve, so you get all of the goodness of a WordPress core theme included. It's a cheerful, carefree and feminine theme.
Version: 1.0.1
Tags: light, pink, orange, green, purple, right-sidebar, responsive-layout, threaded-comments, sticky-post, post-formats
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
template: twentytwelve
*/

@import "compass";
@import url('../twentytwelve/style.css');

@mixin dashicons($content: "\2605") {
  content: $content;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  line-height: 1;
  font-family: 'dashicons';
  vertical-align: top;
}

/* =========================================================================
 *   Causally
 * ========================================================================= */

/* customized by pure-essence.net */
html body,
html body.custom-background,
html body.custom-font-enabled {
    background-color: #BCB937;
    background-image: url(images/bk.png);
    background-repeat: repeat;
    background-position: left top;
    padding: 0;
	color: #754C24;
	font-family: "ABeeZee","Open Sans",Helvetica,Arial,sans-serif;
}


body {
	.site {
		background: rgba(229,229,163,.5) url(images/cornerBk.png) right bottom no-repeat;
		margin: 25px auto;
		padding: 0;
		max-width: 1000px;
	}
	a {
		color: #9B6190;
		&:hover {
			color: #53302B;
		}
	}
	article.sticky .featured-post {
		border: 0;
		background: url(images/featured.png) right top no-repeat;
		width: 107px;
		height: 88px;
		padding: 45px 0 0 0;
		color: #B24E33;
		font-size: 1.45em;
		line-height: normal;
		position: absolute;
		top: -23px;
		right: -4px;
	}
	#gallery-1 img,
	#gallery-2 img,
	#gallery-3 img,
	#gallery-4 img,
	#gallery-5 img,
	#gallery-6 img,
	#gallery-7 img,
	#gallery-8 img,
	#gallery-9 img,
	#gallery-10 img,
	#gallery-11 img {
		border: 0;
	}
	.entry-content, 
	.comment-content {
		table, td {
			border-color: #844F24;
		}
	}

}
/* hide custom header */
img.header-image {
	display: none;
}

#masthead {
	padding: 0;
	background-image: url(images/headerTagLeft.png), url(images/headerTagRight.png);
	background-repeat: no-repeat;
	background-position: left top, right top;
	margin: 0 25px;
	hgroup {
		margin: 16px 83px 0 38px;
		height: 126px;
		background: url(images/headerTagMiddle.png) left top repeat-x;
	}
	h1 {
		padding: 30px 0 0 20px;
		a, a:hover {
			color: #FBC0AD;
		}
	}
	h2 {
		padding-left: 20px;
		color: #FBC0AD;
	}
}

#site-navigation {
	margin: 1em 20px 0;
}

.main-navigation {
	> div > ul > .current-menu-item > a, 
	> div > ul > .current_page_item > a, 
	> div > ul > .current-menu-ancestor > a, 
	> div > ul > .current_page_ancestor > a {
		background: url(images/flower.png) center center no-repeat;
	}


	li {

		> ul.sub-menu {
			overflow: visible;
			clip: inherit;
			left: -920px;
			&:before {
				position: absolute;
				content: '\00BB';
				top: -30px;
				left: 910px;
			}
			li {
				position: relative;
				&:hover, &:focus {
					ul.sub-menu {
						left: 200px;
						&:before {
							top: 11px;
							left: -20px;
						}
					}
				}
			}
			ul.sub-menu {
				&:before {
					left: 1100px;
					top: 11px;
				}
			}

		}
		&:hover, &:focus {
		 > ul.sub-menu {
				left: -20px;
				&:before {
					left: 10px;
				}
			}
		}
		ul {
			li {
				a {
					background: rgba(229,229,163,.8);
					border: 0;
					&:hover {
						background: #D0D375;
						border: 0;
						text-decoration: none;
					}
				}
			}
		}
	}

	ul.children {
		li {
			&.current-menu-item, &.current_page_item {
				a {
					background: rgba(229,229,163,.8);
					border: 0;
				}
			}
		}
	}

	ul.nav-menu, div.nav-menu > ul {
		border: 0;
	}

}


#main {
	background-image: url(images/swirlRight.png), url(images/swirlRight.png), url(images/swirlRight.png), url(images/girl.png);
	background-position: 68% 1200px,68% 2100px,68% 3000px,78% top;
	background-repeat: no-repeat;
	padding: 0 25px;
	
	.attachment &,
	.page-template-page-templatesfull-width-php &,
	.page-template-page-templatesfront-page-php & {
		background-image: url(images/girl.png);
		background-position: right top;
	}
}

#primary {
	width: 55%;
	article {
		position: relative;
		border-color: #797408;
		background: rgba(229,229,163,.8);
		padding: 1em;
		border-radius: 10px;
		&:after {
			content: url(images/flowers.png);
			position: absolute;
			bottom: -90px;
			right: 20px;
		}
	}
	.attachment &,
	.page-template-page-templatesfull-width-php &,
	.page-template-page-templatesfront-page-php & {
		width: 70%;
	}
}

.template-front-page .widget-area {
	border-top: 0;
}

#secondary {
	width: 20%;
	a {
		color: #797408;
		&:hover {
			color: #FF90A2;
		}
	}
	aside {
		background: rgba(229,229,163,.8);
		padding: 1em;
		border-radius: 10px;
		&:nth-of-type(even) {
			background: rgba(229,229,163,.8) url(images/green.png) 110% top no-repeat;
		}
		h3 {
		color: #BCB937;
		margin-bottom: 1em;
		}
		#searchsubmit {
			display: none;
		}
	}
	.page-template-page-templatesfront-page-php & {
		width: auto;
	}
}

.widget-area #s {
	width: 90%;
}


#colophon {
	border-top: 0;
	text-align: center;
	a {
		color: #797408;
		&:hover {
			color: #844F24;
		}
	}
}

.gallery .gallery-icon img {
	padding: 0;
}

.archive-header, .page-header {
	border-bottom: 1px dotted #797408;
}

li.bypostauthor cite span {
	background-color: #5F0575;
	border: 0;
	border-radius: 2px;
}

button, input, textarea {
	background: rgba(229,229,163,.8);
	border: 1px solid #797408;
}

input[type="submit"], 
input[type="button"], 
input[type="reset"], 
article.post-password-required input[type="submit"] {
	border: 1px solid #797408;
	color: #797408;

	background-color: #BCB937;
	background-repeat: repeat-x;
	@include background-image(linear-gradient(top, #E5E5A3, #BCB937));
}

input[type="submit"]:hover, 
input[type="button"]:hover, 
input[type="reset"]:hover, 
article.post-password-required input[type="submit"]:hover {
	border: 1px solid #797408;
	background-color: #E5E5A3;
	color: #5F0575;
	@include background-image(linear-gradient(top, #E5E5A3, #BCB937));
}

footer.entry-meta {
	color: #797408;
}
.comments-link a, .entry-meta a {
	color: #6CA9BA;
}
.comments-link a:hover, .entry-meta a:hover {
	color: #9B6190;
}

.entry-content img, 
.comment-content img, 
.widget img, 
img.header-image, 
.author-avatar img, 
img.wp-post-image {
	box-shadow: 0 1px 4px rgba(121,116,8,.8);
}

.comments-area article header .avatar {
	border-radius: 3px;
}

article.format-quote .entry-content blockquote {
	background: none;
}

article.format-aside .aside {
	background: #FFE1D0;
	border-color: #FF90A2;
}

/* infinite scroll */
body {
	#infinite-footer {
		.blog-credits,
		.blog-credits a,
		.blog-credits a:hover,
		.blog-info a,
		.blog-info a:hover {
			color: #754C24;
		}
	}
	#infinite-footer .container,
	#infinite-handle span {
		background-color: rgba(229,229,163,.8);
		color: #754C24;
		border-top: 0;
	}
}

@media screen and (max-width: 960px) {
	#main,
	.attachment #main,
	.page-template-page-templatesfull-width-php #main,
	.page-template-page-templatesfront-page-php #main {
		background-image: none;
	}

	#primary,
	.attachment #primary,
	.page-template-page-templatesfull-width-php #primary,
	.page-template-page-templatesfront-page-php #primary {
		width: 66%;
	}

	#secondary {
		width: 30%;
	}
}

@media screen and (max-width: 600px) {
	#primary,
	.attachment #primary,
	.page-template-page-templatesfull-width-php #primary,
	.page-template-page-templatesfront-page-php #primary,
	#secondary {
		width: auto;
	}
	.site-header h1 {
		margin-bottom: 0;
	}

	#site-navigation {
		margin: 1.5em 0 0 0;
	}

	#masthead {
		background: none;
		hgroup {
			background: #EA7E54;
			margin: 0 0 15px 0;
			height: 23vw;
			position: relative;
			&:before, &:after {
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				left: 0;
			}
			&:before {
				border-top: .5vw dashed #F1C7A2;
				top: 2vw;
			}
			&:after {
				border-bottom: .5vw dashed #F1C7A2;
				bottom: 2vw;
			}
			h1 {
				padding: 5vw 0 1vw;
				font-size: 5.5vw;
			}
			h2 {
				padding: 0;
			}
		}
	}


	.main-navigation {
		> div > ul > .current-menu-item > a, 
		> div > ul > .current_page_item > a, 
		> div > ul > .current-menu-ancestor > a, 
		> div > ul > .current_page_ancestor > a {
			background: none;
			font-weight: bold;
		}

		a {
			font-size: 120%;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}


		.menu-toggle {
			&:before {
				@include dashicons('\f333');
				font-size: 120%;
				padding-right: .2em;
			}
			font-size: 110%;
			background: #797408;
			color: white;
			display: block;
			border: 0;
			border-radius: 3px;
			text-align: left;
			&:hover, &:active {
				background: lighten(#797408, 5%);
				color: white;
				display: block;
				border: 0;
				box-shadow: none;
			}
			&.toggled-on {
				box-shadow: none;
				border-bottom: 1px solid darken(#D0D375, 20%);
				border-radius: 3px 3px 0 0;
			}

		}

		ul {
			&.nav-menu.toggled-on {
				background: #D0D375;
				display: block;
				a {
					display: block;
					padding: .6em;
				}
				li {
					margin: 0;
					padding: 0;
					text-align: left;
					border-bottom: 1px dotted darken(#D0D375, 15%);

					a {
						background: none;
						border: 0;
						&:hover {
							background: rgba(229,229,163,.8);
							border: 0;
							text-decoration: none;
						}
					}

				}
			}
			
		}

		li {
			> ul.sub-menu {
				padding-left: 1em;
				border-top: 1px dotted darken(#D0D375, 15%);
				&:before {
					content: '';
				}
				li:last-child {
					border-bottom: 0;
				}
				a {
					&:before {
						content: '-';
						padding-right: .1em;
					}
				}
				
				ul.sub-menu {
					border-top: 1px dotted darken(#D0D375, 15%);
					a {
						&:before {
							content: '--';
						}
					}
					ul.sub-menu a:before {
							content: '---';
					}
					&:before {
						content: '';
					}
					li:last-child {
						border-bottom: 0;
					}
				}
			}

		}

	}
}


@media screen and (min-width: 1100px) {
	html body,
	html body.custom-background,
	html body.custom-font-enabled {
		background-color: #BCB937;
		background-image: url(images/swirl.png), url(images/bk.png);
		background-repeat: no-repeat, repeat;
		background-position: center top, left top;
	}
}